.jumbo-header {
  background-color: #00B0CC;
  color: white;
  text-align: center;
}

.divBox1{
  float:left;
  width: 25%;
  position: relative;
}
.divBox2{
  float:left;
  width: 75%;
  position: relative;
}

