<app-navigation
  (showLoginOut)="showLoginForm($event)" (showReportOut)="showReportForm($event)" ></app-navigation>
<app-header *ngIf="!showLogin"></app-header>
<div class="jumbotron jumbotron-fluid jumbo-header" *ngIf="showLogin">
  <div class="container">
    <app-login></app-login>
  </div>
</div>
<app-reports *ngIf="showReport"> </app-reports>
<app-loader *ngIf="showLoader"></app-loader>
<div class="container-fluid">
  <div>
    <app-price></app-price>
  </div>
  <div>
    <app-table [loader]="this.showLoader" (loaderChanged)="changeLoader($event)" *ngIf="!showLoader"></app-table>
  </div>
</div>
<app-footer></app-footer>

