 <div class="wrapper">
    <form class="form-signin" *ngIf="!loggedUSer">
      <input type="text" [(ngModel)]="user.username" class="form-control" name="txtUsername" placeholder="Username" autofocus="" id="txtUsername"/>
      <br>
      <input type="password" class="form-control" [(ngModel)]="user.pass" name="password" placeholder="Password" required="" id="txtPassword"/>
      <br>
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <span class="add-on"><i class="icon-user icon-white"></i></span>
      <button class="btn btn-lg btn-primary btn-block" (click)="checkUser(user)" >Login</button>
    </form>
    <div *ngIf="loggedUSer">
      <img src="../../../assets/img/userIcon.png" height="100" width="100"/>
      <span>{{loggedUSer.username}}</span>
      <img src="../../../assets/img/exit.png" height="50" width="50" class="btnLogout" (click)="logOut()"/></div>
  </div>

