 <div class="wrapper">
    <form class="form-signin">
      <h2 class="form-signin-heading">Parking</h2>
      <input type="text" [(ngModel)]="user" class="form-control" name="username" placeholder="Email Address" autofocus="" />
      <br>
      <input type="password" class="form-control" name="password" placeholder="Password" required=""/>
      <br>
      <label class="checkbox">
        <input type="checkbox" value="remember-me" id="rememberMe" name="rememberMe"> Remember me
      </label>
      <span class="add-on"><i class="icon-user icon-white"></i></span>
      <button  scr= "" class="btn btn-lg btn-primary btn-block" (click)="getUser(user)" >Login</button>
    </form>
  </div>
