

<!--button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal" data-whatever="@mdo">Price </button-->

<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true" style="margin-top: 30px">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Edit price</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <form>
          <label class="mr-sm-2" for="inlineFormCustomSelect">Vehicle type</label>
          <select class="custom-select mb-2 mr-sm-2 mb-sm-0" id="inlineFormCustomSelect">
            <option selected>Choose...</option>
            <option value="1">Motorcycle</option>
            <option value="2">Car</option>
          </select>
          <br>
            <div class="form-group">
            <label for="txtMinute" class="form-control-label">Value minute:</label>
            <input type="text" [(ngModel)]="minutePrice" class="form-control" name="txtMinute" id="txtMinute">
          </div>
            <div class="form-group">
            <label for="txtMonth" class="form-control-label">Value month:</label>
            <input type="text" class="form-control" [(ngModel)]="monthPrice" id="txtMonth" name="txtMonth">
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="validateField()">Save</button>
        <button type="button" class="btn btn-danger " data-dismiss="modal" style="margin-bottom: 20px;">Close</button>
      </div>
      <span id="msjError">{{msjError}}</span>
    </div>
  </div>
</div>
