div a, div ul li a{
  color: white;
  display: inline-block;
  left: 0;
  right: 0;
  text-align:center;
  width:60%;
}

/* change navbar-toggler inside lines color (stroke) */
.navbar-light span.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='white' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
  color: white;
}

.fixed-header {
  position: fixed;
  width: 100%;
  z-index: 999999999999;
  top: -10px;
}

.info-header{
  margin-top: 2px;
}

