.cell_space {
    width: 10%;
}

.mg-fluid{
	margin-left: 25%;
}

.placa{
	position: relative;
    margin-top: -26%;
    margin-left: 16%;
}

  #vertical-bar {
        border-left: 4px solid #ccc;
        width:2px;
        height:220px;
    }

    .blockquote{
      border-color: yellow;
    }

    #block1{
      border-color: red;
    }

#horizontal-bar{
        border:2px solid #ccc;
        width:500px;
        height:2px;
    }

    #portfolio{
    	padding-left: 150px;
      margin-top: -55px;
    }

    #titulo{
    	margin-right:  100px;
    }

 #titulo1{
    	margin-left:  380px;
    }

.nav-tabs{
	width: 890px;
}

#carimage{
	width: 83px;
  height: 165px;
  margin-top: 21px;
}

.placacar{
	 margin-left: 30px;
	 margin-top: 4px;
}

#modalpay{

	    margin-top: 67px;
}

#tab_day{
    width:498px;
}

.marginTop-2-porcent{
  margin-top: 2% !important;
}

.space-car-disp {
  background-image: url("../../../assets/img/vacio.jpg");
  background-repeat: no-repeat;
  width: 148px;
  height: 300px;
  margin: 0;
  padding: 0px;
}

.space-car-not-disp {
  background-image: url("../../../assets/img/car_red.png");
  background-repeat: no-repeat;
  width: 148px;
  height: 300px;
  margin: 0;
  padding: 0px;
}

.space-car-rent {
  background-image: url("../../../assets/img/car_yellow.png");
  background-repeat: no-repeat;
  width: 148px;
  height: 300px;
  margin: 0;
  padding: 0px;
}

.space-motor-disp {
  background-image: url("../../../assets/img/vacio.jpg");
  background-repeat: no-repeat;
  width: 148px;
  height: 300px;
  margin: 0;
  padding: 0px;
}

.space-motor-not-disp {
  background-image: url("../../../assets/img/moto_red.png");
  background-repeat: no-repeat;
  width: 148px;
  height: 300px;
  margin: 0;
  padding: 0px;
}

.space-motor-rent {
  background-image: url("../../../assets/img/moto_yellow.png");
  background-repeat: no-repeat;
  width: 148px;
  height: 300px;
  margin: 0;
  padding: 0px;
}

.btn-modal {
  margin-left: 1px;
  width: 104px;
}

.width100 {
  width: 100%;
}

#infopark{
  margin-left: 340px;
}

.blockquote-box{border-right:10px solid rgba(109, 104, 104, 0.904);margin-bottom:25px;
                margin-left: 40px;}
.blockquote-box.blockquote-primary{border-color:rgb(231, 224, 13)}
.blockquote-box.blockquote-primary .square{background-color:#428BCA;color:#FFF}
.blockquote-box.blockquote-danger{border-color:#D43F3A}
.blockquote-box.blockquote-danger .square{background-color:#D9534F;color:#FFF}