
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Parking</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


    <section id="portfolio" data-toggle="modal" data-target="#myModal">
      <div class="container">

        <h2 class="text-center" id="titulo">Parking</h2>
        <hr class="star-primary" id="titulo1">

        <ul class="nav nav-tabs" id="widthtab">
          <li class="nav-item">
            <a class="nav-link active" href="#">Floor 1 Motorcycles</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Floor 2 Cars</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Floor 2 Cars</a>
          </li>
        </ul>

        <br>

        <!--
          inicio de listas quemadas
        -->
        <div class="row">

          <div class="col-md-2 portfolio-item cell_space">
            <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="mg-fluid" src="../../../assets/img/moto_yellow.png" alt="" height="230" width="80">
              <h3 class="placa"><span class="badge badge-pill badge-info">RJN34D</span></h3>
            </a>
          </div>

          <div id="vertical-bar"></div>   <!--          Separador        -->        

         <div class="col-md-2 portfolio-item cell_space">
            <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="mg-fluid" src="../../../assets/img/moto_purple.png" alt="" height="230" width="80">
              <h3 class="placa"><span class="badge badge-pill badge-info">HSG13C</span></h3>
            </a>
          </div>

          <div id="vertical-bar"></div>   <!--          Separador        -->    

          <div class="col-md-2 portfolio-item cell_space">  
            <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="mg-fluid" src="../../../assets/img/moto_red.png" alt="" height="230" width="80">
              <h3 class="placa"><span class="badge badge-pill badge-info">RJN34D</span></h3>
            </a>
          </div>

          <div id="vertical-bar"></div>   <!--          Separador        -->    

          <div class="col-md-2 portfolio-item cell_space">  
            <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="mg-fluid" src="../../../assets/img/moto_red.png" alt="" height="230" width="80">
              <h3 class="placa"><span class="badge badge-pill badge-info">RJN34D</span></h3>
            </a>
          </div>

          <div id="vertical-bar"></div>   <!--          Separador        -->    

          <div class="col-md-2 portfolio-item cell_space">
            <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="mg-fluid" src="../../../assets/img/moto_yellow.png" alt="" height="230" width="80">
              <h3 class="placa"><span class="badge badge-pill badge-info">RJN34D</span></h3>
            </a>
          </div>


          <div class="col-md-2 portfolio-item cell_space">
            <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="mg-fluid" src="../../../assets/img/moto_yellow.png" alt="" height="230" width="80">
              <h3 class="placa"><span class="badge badge-pill badge-info">RJN34D</span></h3>
            </a>
          </div>

          <div id="vertical-bar"></div>   <!--          Separador        -->  

          <div class="col-md-2 portfolio-item cell_space">
            <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="mg-fluid" src="../../../assets/img/moto_yellow.png" alt="" height="230" width="80">
              <h3 class="placa"><span class="badge badge-pill badge-info">RJN34D</span></h3>
            </a>
          </div>

          <div id="vertical-bar"></div>   <!--          Separador        -->  

          <div class="col-md-2 portfolio-item cell_space">
            <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="mg-fluid" src="../../../assets/img/moto_yellow.png" alt="" height="230" width="80">
              <h3 class="placa"><span class="badge badge-pill badge-info">RJN34D</span></h3>
            </a>
          </div>

          <div id="vertical-bar"></div>   <!--          Separador        -->  

          <div class="col-md-2 portfolio-item cell_space">
            <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="mg-fluid" src="../../../assets/img/moto_yellow.png" alt="" height="230" width="80">
              <h3 class="placa"><span class="badge badge-pill badge-info">RJN34D</span></h3>
            </a>
          </div>

          <div id="vertical-bar"></div>   <!--          Separador        -->  

         <div class="col-md-2 portfolio-item cell_space">
            <a class="portfolio-link" href="#portfolioModal1" data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="mg-fluid" src="../../../assets/img/moto_yellow.png" alt="" height="230" width="80">
              <h3 class="placa"><span class="badge badge-pill badge-info">RJN34D</span></h3>
            </a>
          </div>

          
        </div>

        <!--
          fin de listas quemadas
        -->
      </div>



    </section>


     