<!--a href="#" (click)
  ="showLoader()">ShowLoad</a>
<a-- href="#" (click)="hideLoader()">HideLoad</a-->
<button (click)="sweetAlert()">sweetalert</button>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content" id="modalpay">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Vehycle Options</h4>
      </div>

      <ul class="nav nav-tabs" role="tablist" id="tab_day">
        <li class="nav-item">
          <a class="nav-link active" href="#day" role="tab" data-toggle="tab">Day</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#month" role="tab" data-toggle="tab">Month</a>
        </li>
      </ul>

      <!-- Tab panes -->
      <div class="tab-content">

        <div role="tabpanel" class="tab-pane active" id="day">
          <!-- MODAL INGRESO Y SALIDA-->
          <div class="form-group row" style="margin-top: 10px">
            <label for="licesetextMoto" class="col-2 col-form-label" style="margin-left: 20px">License</label>
            <div class="col-8">
              <input class="form-control" type="text" value="{{recordSelected.license}}"
                     [(ngModel)]="recordSelected.license" id="licesetextMoto" name="licesetextMoto" style='text-transform:uppercase'>
            </div>
          </div>

          <div class="form-group row" style="margin-top: 10px">
            <label for="txtNumCell" class="col-2 col-form-label" style="margin-left: 20px">Cell</label>
            <div class="col-8">
              <input class="form-control" id="txtNumCell" type="text" placeholder="{{recordSelected.numCell}}"
                     style="text-align: center;"
                     disabled>
            </div>
          </div>

        </div>


        <div role="tabpanel" class="tab-pane fade" id="month">

          <div class="form-group row" style="margin-top: 10px">
            <label for="txtName" class="col-2 col-form-label" style="margin-left: 20px">Name</label>
            <div class="col-8">
              <input class="form-control" type="text"  value="" id="txtName" [(ngModel)] = "userMonthSelected.name" name="txtName">
            </div>
          </div>

          <div class="form-group row" style="margin-top: 10px">
            <label for="txtId" class="col-2 col-form-label" style="margin-left: 20px">Id
            </label>
            <div class="col-8">
              <input class="form-control" type="text" value="" id="txtId" name="txtId" [(ngModel)] = "userMonthSelected.id">
            </div>
          </div>

          <div class="form-group row" style="margin-top: 10px">
            <label for="licensetext" class="col-2 col-form-label" style="margin-left: 20px">License</label>
            <div class="col-8">
              <input class="form-control" type="text" value="" id="licensetext" name="licensetext" [(ngModel)] = "userMonthSelected.license">
            </div>
          </div>

          <div class="form-group row" style="margin-top: 10px">
            <label for="example-date-input-1" class="col-2 col-form-label" style="margin-left: 20px">Date </label>
            <input class="form-control" type="date" value="" id="example-date-input-1" name="example-date-input-1" style="width: 322px;
              margin-left: 14px;"/>
          </div>


          <div class="form-group row" style="margin-top: 10px">
            <label for="example-date-input-2" class="col-2 col-form-label" style="margin-left: 20px">Date </label>
            <input class="form-control" type="date" value="" id="example-date-input-2" name="example-date-input-2" style="width: 322px;
              margin-left: 14px;"/>
          </div>

        </div>

      </div>

      <div class="modal-footer">

        <button type="button" class="btn btn-info btn-modal" data-dismiss="modal" *ngIf="recordSelected.state === 'DISP'" (click)="inNewVeh()">
          Ingresar
        </button>
        <button type="button" class="btn btn-info btn-modal" data-dismiss="modal" *ngIf="recordSelected.state === 'ALQU'" (click)="inNewVeh()">
          Registrar
        </button>
        <button type="button" class="btn btn-danger btn-modal"  data-dismiss="modal" *ngIf="recordSelected.state === 'OCUP'"  (click)="outVehicle()">
          Salir
        </button>
        <span id="msjError">{{msjError}}</span>
      </div>
    </div>

  </div>
</div>


<!--         SECCION TABLA    -->

<section id="portfolio" style="padding-bottom: 20px;">

  <div class="container" role="tablist">
    <h2 class="text-center" id="titulo">State Park</h2>
    <hr class="star-primary" id="titulo1">

    <ul class="nav nav-tabs" id="myTab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#motorcycles" role="tab" aria-controls="motorcycles">Floor 1
          Motorcycles</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#cars1" role="tab" aria-controls="cars1">Floor 2 Cars</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#cars2" role="tab" aria-controls="cars2">Floor 3 Cars</a>
      </li>
    </ul>


    <div class="tab-content">

      <!--          Inicio primer tab    -->

      <div class="tab-pane active" id="motorcycles" role="tabpanel">

        <div class="tab-pane active row" id="tab-pane-moto" role="tabpanel" data-toggle="modal" data-target="#myModal">

          <!-- Piso 1 -->
          <div class="col-md-2 portfolio-item cell_space" *ngFor="let value of filterTableValues('1')">
            <a class="portfolio-link" href="#portfolioModal1" (click)='setRecordSelected(value)' data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="mg-fluid width100"
                   [ngClass]="{'space-motor-disp' : value.state === DISP, 'space-motor-not-disp' : value.state === OCUP, 'space-motor-rent' : value.state === ALQU}"
                   alt="" id="motorcycleImage2">
              <h3 class="placa"><span class="badge badge-pill badge-info">{{value.license}}</span></h3>
            </a>
            <!--div id="vertical-bar"></div-->   <!--          Separador        -->
          </div>
        </div>
      </div>

      <div class="tab-pane" id="cars1" role="tabpanel">
        <div class="tab-pane active row" id="tab-pane-cars-1" role="tabpanel" data-toggle="modal"
             data-target="#myModal">
          <div class="col-md-2 portfolio-item cell_space marginTop-2-porcent"
               *ngFor="let value of filterTableValues('2')">
            <a class="portfolio-link" href="#portfolioModal1" (click)='setRecordSelected(value)' data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="mg-fluid width100"
                   [ngClass]="{'space-car-disp' : value.state === DISP, 'space-car-not-disp' : value.state === OCUP, 'space-car-rent' : value.state === ALQU}"
                   alt="" id="carimage2">
              <h3 class="placacar"><span class="badge badge-pill badge-info">{{value.license}}</span></h3>
            </a>
            <!-- div id="vertical-bar"></div -->   <!--          Separador        -->
          </div>
        </div>
      </div>

      <div class="tab-pane" id="cars2" role="tabpanel">
        <div class="tab-pane active row" id="tab-pane-cars-2" role="tabpanel" data-toggle="modal"
             data-target="#myModal">
          <div class="col-md-2 portfolio-item cell_space marginTop-2-porcent"
               *ngFor="let value of filterTableValues('3')">
            <a class="portfolio-link" href="#portfolioModal1" (click)='setRecordSelected(value)' data-toggle="modal">
              <div class="caption">
                <div class="caption-content">
                  <i class="fa fa-search-plus fa-3x"></i>
                </div>
              </div>
              <img class="mg-fluid width100"
                   [ngClass]="{'space-car-disp' : value.state === DISP, 'space-car-not-disp' : value.state === OCUP, 'space-car-rent' : value.state === ALQU}"
                   alt="" id="carimage3">
              <h3 class="placacar"><span class="badge badge-pill badge-info">{{value.license}}</span></h3>
            </a>
          </div>
          <!--div id="vertical-bar"></div-->   <!--          Separador        -->
        </div>
      </div>
    </div>

    <script>
      $(function () {
        $('#myTab a:last').tab('show')
      })
    </script>

    <br>


  </div>

</section>

